html,body{
    width: 100%;
    height: 100%;
}
.all{
    width: 100%;
    height: 13.8rem;
    margin: 0 auto;
    background: #efefef;
    position: relative;
}
/*header*/
#header{
    width: 7.5rem;
    height: 5.91rem;
    margin: 0 auto;
}
.headerImg{
    width: 7.5rem;
    height: 5.91rem;
    margin: 0 auto;
}
.headerImg img{
    width: 7.5rem;
    height: 5.91rem;
}
.zhuce{
    width: 0.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background: #ff7a32;
    text-align: center;
    font-size: 0.24rem;
    border-radius: 50%;
    position: fixed;
    left: 0.6rem;
    top: 0.5rem;
}
.zhuce a{
    display: block;
    font-style: normal;
    color: #fff;
}
/*banner*/
.bannner{
    width: 7.5rem;
    height: 6.84rem;
    background: #ff7a32;
    margin: 0 auto;
    z-index: 100;
    position: absolute;
    top: 4.07rem;
}
.bannerBox{
    width: 6.3rem;
    height: 5.36rem;
    float: right;
    padding: 0 0.62rem;
    background: #fff;
    box-shadow: 0 0.02rem 0.2rem 0
    rgba(202, 202, 202, 0.44);
}
input{
    border: none;
}
.username{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    margin: 0.3rem 0 0.1rem 0;
}
.tishi{
    width: 2.05rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background-image: linear-gradient(-90deg,
    #fd4647 0%, #fd466d 100%);
    box-shadow: 0 0.02rem 0.2rem 0
    rgba(253, 70, 87, 0.44);
    border-radius: 0.19rem;
    text-align: center;
    font-size: 0.2rem;
    color: #fff;
    margin-left: 3rem;
}
.yonghu{
    width: 5.06rem;
    height: 0.8rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    padding: 0.22rem 0;
    border-bottom: 0.02rem solid #e5e5e5;
}
.yonghu1{
    width: 5.06rem;
    height: 0.8rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.7);
    padding: 0.22rem 0;
    border-bottom: 0.02rem solid #fdb86b;
}
.yonghu1 img{
    width: 0.27rem;
    height: 0.27rem;
}
.yonghu img{
    width: 0.27rem;
    height: 0.27rem;
}
.yanzhengma{
    width: 1.68rem;
    height: 0.52rem;
    line-height: 0.52rem;
    background-color: #fd6b8a;
    border-radius: 0.26rem;
    border: solid 0.04rem #feced9;
    font-size: 0.22rem;
    text-align: center;
    color: #fff;
    float: right;
    margin-top: -0.55rem;
}
.wenhao{
    font-size: 0.24rem;
    font-family: iconfont;
    color: #ff2b6f;
    float: left;
}
.mima{
    font-size: 0.2rem;
    color: rgba(0,0,0,0.4);
}
.banBox{
    width: 6.3rem;
    height: 0.98rem;
    line-height: 0.98rem;
    text-align: center;
    background: #fff;
    box-shadow: 0 0.02rem 0.2rem 0
    rgba(202, 202, 202, 0.44);
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
    margin-top: 0.4rem;
    float: right;
}
a{
    display: block;
    font-style: normal;
    color: rgba(0,0,0,0.4);
}
.banBox1{
    width: 6.3rem;
    height: 0.98rem;
    line-height: 0.98rem;
    text-align: center;
    font-size: 0.2rem;
    color: rgba(0,0,0,0.6);
    margin-top: 0.2rem;
    float: right;
}