.content{
    width: 7.02rem;
    height: 100%;
    margin: 0 auto;
}
/*header*/
#header{
    width: 100%;
    height: 2.07rem;
    margin: 0 auto;
}
.topbar{
    width: 7.02rem;
    height: 2rem;
    margin: 0 auto;
    border-bottom: 0.02rem solid #f2f2f2;
    margin-top: 0.4rem;
}
#header a{
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
}
.fanhui{
    font-size: 0.4rem;
    font-family: iconfont;
    color: #999999;
    float: left;
}
.title{
    font-size: 0.46rem;
    color: #737373;
    margin-top: 0.36rem;
    margin-bottom: 0.4rem;
}
/*banner*/
.banner{
    width:100%;
    height: 100%;
    margin: 0.45rem auto;
}
.yuan{
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 0.12rem;
    float: left;
    margin: 0.12rem 0.1rem 0 0;
}
.huizong{
    float: left;
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);
    margin-left: 0.04rem;
}
.rmb{
    float: left;
    font-size: 0.16rem;
    color: #e92928;
    margin: 0.12rem 0.14rem 0 2.8rem;
}
.price{
    font-size: 0.32rem;
    color: #e92928;
}
/*bank*/
.bank{
    width: 100%;
    height: 3.92rem;
    margin: 0 auto;
    position: relative;
}
.bank img{
    width: 6.44rem;
    height: 3.5rem;
    border-radius: 0.28rem;
    margin-left: 0.29rem;
}
/*验证*/
.yanzheng{
    width: 100%;
    height: 1.33rem;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 -0.11rem 0.2rem 0
    rgba(157, 156, 156, 0.38);
    padding: 0.5rem 1.5rem;
    position: absolute;
    bottom: 0;
}
.yuan{
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 0.12rem;
    float: left;
    margin-left: 0.04rem;
}
.wenzi{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.7);
    float: left;
    margin: 0 0.18rem;
}
/*键盘*/
.jianpan{
    width:100%;
    margin: 0 auto;
}
.jianpan img{
    width: 100%;
    height: 6rem;
}