html,body{
    width: 100%;
    height: 100%;
}
.content{
    width:6.99rem ;
    height: 100%;
    margin: 0 auto;
}
.container{
    width: 7.02rem;
    height:100%;
    min-height: 1px;
    margin: 0 auto;
}
#header{
  width: 100%;
    height: 0.88rem;
    background-image: linear-gradient(90deg, #f27c52 0%,#e50e0e 100%);
}
.topBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.24rem;
}
.searchBox{
    width: 5.21rem;
    height:0.44rem ;
    background:#fff ;
    border-radius: 0.22rem;
    margin-left: 0.82rem;
}
.search{
    width: 0.36rem;
    height: 0.36rem;
    font-size: 0.3rem;
    font-family: iconfont;
    float: right;
    margin-top: 0.04rem;
    margin-right: 0.04rem;

}
input{
    width: 0.88rem;
    height: 0.2rem;
    font-size: 0.2rem;
    margin-top: 0.12rem;
    margin-left: 0.17rem;
    float: left;
    border: none;
}
.taiyuan{
    width: 0.6rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin-top: 0.1rem;
    font: 0.2rem 'Microsoft YaHei UI';
    color: #fff;
    text-align: center;
}
.scanBox{
    width: 0.44rem;
    height: 0.44rem;
    background: #fff;
    border-radius: 50%;
    margin-right: 0.14rem;
    position: relative;
}
.dingwei{
    width: 0.36rem;
    height: 0.36rem;
    font-size: 0.34rem;
    font-family: iconfont;
    color:#f27c52 ;
    float: left;
    margin-left: 0.04rem;
    margin-top: 0.05rem;
}
/*banner*/
.banner{
    width:100% ;
    height: 2.84rem;
    margin-top: 0.24rem;
    position: relative;
}
.bannerBox{
    width:7.01rem ;
    height:2.84rem ;
    margin: 0 auto;
    position: relative;

}
.bannerBox li.active{
    z-index: 1;
}
.banner li{
    width:7.01rem ;
    height: 2.84rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.banner li img{
    width:7.01rem ;
    height: 2.84rem;
    margin: 0 auto;
    display: block;
    border-radius: 0.2rem;
}
.pagerBox{
    width: 0.58rem;
    height: 0.1rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0.1rem;
    right: 1.42rem;
    z-index: 666;
}
.pagerBox li{
    width:0.1rem ;
    height: 0.1rem;
    background: #5cb85c;
    border-radius: 50%;
}
.category{
   width: 5.92rem;
    height: 3.08rem;
   margin: 0 auto;
    margin-top: 0.3rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.categoryBox{
    display: block;
    width: 1.48rem;
    height: 1.54rem;
    text-align: center;
}
.categoryBox>img{
   width: 0.97rem;
    height: 0.97rem;
    margin: 0 auto;
}
.categoryBox>p{
    width: 1.48rem;
    height: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    margin: 0 auto;
}
/*今日特价*/
.tejia{
    width: 6.99rem;
    height: 5.52rem;
    margin: 0 auto;
}
.top{
    width: 1.77rem;
    height: 0.51rem;
    font-size: 0.34rem;
    border-radius: 0.1rem;
    border: 0.02rem solid #f94242;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.65rem;


}
.tjbottom{
    width: 100%;
    height: 3rem;
    margin-top: 0.45rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tjBox{
    display: block;
    width: 2.25rem;
    height: 4.55rem;
    background: #fff;
    border-radius: 0.17rem;
    box-shadow: 0rem 0.03rem 0.13rem 0rem rgba(166, 166, 166, 0.85);
    position: relative;
}
.tjBox img{
    width: 2.25rem;
    height: 2.99rem;
    border-radius: 0.17rem 0.17rem 0 0;
}
.p1{
    width: 1.21rem;
    height: 0.29rem;
    font-size: 0.3rem;
    color:rgba(0,0,0,0.75);
    margin-bottom: 0.1rem;
    margin-left: 0.05rem;
}
.p2{
    width: 1.98rem;
    height: 0.23rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.65);
    margin-left: 0.05rem;
}
.shop{
    font-size:0.45rem ;
    font-family: iconfont;
    color: rgba(216,30,6,0.4);
    position: absolute;
    bottom: 0.04rem;
    left: 0.9rem;
}
/*推荐*/
.tuijian{
    width: 100%;
    height: 12.6rem;
    margin: 0 auto;
}
.tuijian img{
    width: 7.5rem;
    height: 3.35rem;
    margin: 0 auto;
    margin-top: 0.47rem;
    background-color: #d9b595;
    box-shadow: 0px 1px 20px 0px
    rgba(140, 140, 140, 0.62);
    border-radius: 17px;
}
.tuijianb{
    width: 7.5rem;
    height: 3.35rem;
    margin: 0 auto;
    border-radius: 17px;
}
.store{
    width: 7.02rem;
    height: 0.31rem;
    font: 0.32rem "";
    color: rgba(0,0,0,0.89);
    margin: 0 auto;
    margin-bottom: 0.2rem;
}
.store span{
    float: right;
    font: 0.3rem "";
}
.star{
    font-size:0.3rem ;
    font-family: iconfont;
    color: #f01845;
}
.menu{
    width: 7.02rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.79);
    margin: 0 auto;
}
.shopin{
    float: right;
    width: 1.21rem;
    height: 0.43rem;
    background-image: linear-gradient(90deg, #e50e0f 0%,
    #ec4040 53%, #f27171 100%);
    border-radius: 0.22rem;
    font-size: 0.22rem;
    line-height: 0.43rem;
    text-align: center;
    margin-right: 0.24rem;
}
.shopin a{
    color: #fefefe;
}
.reason{
    width: 7.02rem;
    font-size: 0.2rem;
    color: rgba(0,0,0,0.69);
    margin: 0 auto;
    margin-top: 0.2rem;
}
/*Tab栏*/
.tab{
    width: 100%;
    height: 0.98rem;
    background: #fff;
    box-shadow: 0px -1px 8px 0px
    rgba(0, 0, 0, 0.32);
    margin: 0 auto;
    margin-top: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.tab img{
    width: 0.53rem;
    height: 0.53rem;
}